{% extends "base.html" %}

{% block content %}
<form class= "mt-3" method="post">
    <div class = "mt- 3">
    <label for="titulo-tarefa" class="form-label">Título da Tarefa</label>
    <input type="text" class="form-control" name="titulo_tarefa" id="titulo-tarefa" aria-describedby="ajudaNomeTarefa" value="{{tarefa_selecionada.titulo_tarefa if tarefa_selecionada else ''}}" required>
    <div id="ajudaNomeTarefa" class="form-text">Use um nome de tarefa que seja descritivo.</div>
    </div>

    <input type="date" name="data_conclusao" 
    id="data_conclusao" value="{{tarefa_selecionada.data_conclusao if tarefa_selecionada else ''}}" required>
    <button type="submit">Salvar</button>

    {% if tarefa_selecionada %}
        <a href="{{ url_for('agenda') }}" class="btn btn-secondary">Cancelar</a>
    {% endif %}
</form>

<h2>Lista de Tarefas</h2>

{% if tarefas %}

    <ul>
    {% for tarefa in tarefas %}
        <li>
    <span style="{% if tarefa.concluida == 1 %}text-decoration: line-through; color: gray;{% endif %}">
        {{ tarefa.titulo_tarefa }} - {{ tarefa.data_conclusao }}
    </span>

    {% if tarefa.concluida == 0 %}
        <a href="{{ url_for('toggle', idTarefa=tarefa.id_tarefa) }}" 
           style="background-color: green; color: white;">Concluir</a>
    {% else %}
        <a href="{{ url_for('toggle', idTarefa=tarefa.id_tarefa) }}" 
           style="background-color: red; color: white;">Reabrir</a>
    {% endif %}

    {% if tarefa.concluida == 0 %}
        <a href="{{ url_for('delete', idTarefa=tarefa.id_tarefa) }}">Apagar</a>
    {% endif %}

    <a href="{{ url_for('update', idTarefa=tarefa.id_tarefa) }}">Editar</a>
</li>

    {% endfor %}
    </ul>

{% else %}

    <p>Nenhuma tarefa cadastrada</p>

{% endif %}

{% endblock %}

<!-- Métodos HTTP:
GET: "Pega" (recupera/obtém) as informações. (READ)
POST: "Envia" (cadastra/inclui/adiciona) as informações. (CREATE)
UPDATE: "Atualiza" as informações. (UPDATE)
PATCH: "Atualiza" parte das informações.(PARTIAL UPDATE)
DELETE: "Deleta" as informações (DELETE)

CRUD -> CREATE, READ, UPDATE, DELETE
-->

<!--Códigos de Retorno:
2xx: Sucesso 
3xx: Redirecionamento
4xx: Erro Não Encontrado (falha de Requisição)
5xx: Erro do Servidor (falha da resposta) 
-->


# ------------------------------------------